/* Write your CSS here */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #07080c;
  color: white;
  min-height: 100vh;
}
.image {
  width: 80%;
}
.button {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border: 0px;
  border-radius: 5px;
}
.bg-blue {
  background-color: #0b69ff;
}
